<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create An Account</title>
</head>
<body>
<h1>Create An Account</h1>

<p>Welcome to Tripify, the travel planning app! Please fill out this form to create an account.</p>

<form method="POST">
        @helper.CSRF.formField
        <label for="email">Email</label>
        <input type="text" placeholder="Enter Email" name="email" id="email"><br>

        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" name="password" id="password"><br>

        <label for="firstname">First Name: </label>
        <input type="text" id="firstname" name="firstname"><br>

        <label for="lastname">Last Name: </label>
        <input type="text" id="lastname" name="lastname"><br>

        <label for="zipcode">Zip Code: </label>
        <input type="number" id="zipcode" name="zipcode"><br>

        <label for="birthdate">Birthday: </label>
        <input type="date" id="birthdate" name="birthdate"><br>

        <label for="restriction">Do you have any travel restrictions? (e.g. allergies, disabilities)</label>
        <input type="text" id="restriction" name="restriction"><br>

        <input type="submit" id="signup" name="signup" value="Sign Up"><br>
</form>
</body>
</html>