<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create An Account</title>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
</head>
<body>
<form action="action_page.php">
    <div class="container-fluid">
        <h1>Create An Account</h1>
        <p>Welcome to Escapade, the travel planning app! Please fill in this form to create an account.</p>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>

        <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

        <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button><br>
            <label>Already have an account?</label>
            <button type="submit" class="loginbtn">Log In</button>
        </div>
    </div>
</form>
</body>
</html>