@(users : List[User])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table>
    <tr>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email Address</th>
        <th>Zip Code</th>
        <th>Birth Date</th>
        <th>Restrictions</th>
    </tr>
    @for(user <- users) {
    <tr>
        <td>@user.getUserId</td>
        <td>@user.getFirstName</td>
        <td>@user.getLastName</td>
        <td>@user.getEmailAddress</td>
        <td>@user.getZipCode</td>
        <td>@user.getBirthDate</td>
        <td>@user.getRestriction</td>
    </tr>
    }
</table>
<form action="@routes.ConsultantController.getConsultantDashboard" method="GET">
    @helper.CSRF.formField
    <input type="submit" id="backtodashboard" name="backtodashboard" value="Back To Dashboard">
</form>
</body>
</html>