<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Input</title>
</head>
<body>
<h1>Welcome (insert user name here)!</h1>
<p>We are so excited to help you plan the vacation of your dreams, but first, we would need to learn a little more about you.</p>
<form>
    <label for="budget">What is your budget?</label>
    <input type="number" id="budget" name="budget" value="2000"><br>
    <label>Do you have a destination in mind?</label>
    <input type="radio" name="destination" value="Yes">Yes
    <input type="radio" name="destination" value="No">No<br>
    <label for="destinationchoice">If yes, what is it?</label>
    <input type="text" id="destinationchoice" name="destinationchoice">
    <input type="week" id="tripdate" name="tripdate">
</form>
</body>
</html>